.env
.venv/
.vscode/
venv/
env/
__pycache__/
*.pyc
*.pyo
*.pyd
.db/
.files/
*.mp4
*.avi
*.mkv
*.mov
*.m4s
*.flv
*.jpg
*_test.*

input/*
!input/.gitkeep

output/*
!output/.gitkeep

# Logs
*.log
storage/logs/

.vscode/

docker-compose.yml
Dockerfile